<div class="off-screen-menu">
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/search">search</a></li>
    <li><a href="/quiz">quiz</a></li>
    <li><a href="/highscore">highscore</a></li>
  </ul>
</div>

<nav>
  <h1><%= title %></h1>
  <div class="ham-menu">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>
