<article class="gallery">
  <!-- Dynamically load images using your server-side template engine -->
  <% if (movies && movies.length > 0) { %> <% movies.forEach(movie => { %>
  <img
    src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>"
    alt="<%= movie.title %>"
  />
  <% }); %> <% } else { %>
  <p>No movies to display.</p>
  <% } %>
</article>
