<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>Welkom bij Mijn API website</title>
  </head>

  <body>
    <h1><%= title %></h1>

    <div id="quizAttempts"></div>

    <button id="clearButton">Clear the data</button>

    <footer><%- include('../partials/footer.ejs') %></footer>
  </body>
</html>
