<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>Welkom bij Mijn API website</title>
  </head>

  <body>
    <header><%- include('../partials/nav.ejs') %></header>

    <main>
      <div id="quizAttempts"></div>
      <button id="clearButton">Clear the data</button>
    </main>

    <footer><%- include('../partials/footer.ejs') %></footer>
  </body>
</html>
