<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>Welkom bij Mijn API website</title>
  </head>

  <body>
    <h1><%= title %></h1>

    <a href="/movies">Movies</a>
    <a href="/search">Search</a>
    <a href="/quiz">Quiz</a>

    <footer><%- include('../partials/footer.ejs') %></footer>
  </body>
</html>
