<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>Welkom bij Mijn API website</title>
  </head>

  <body>
    <h1>welkom</h1>

    <%- include('../components/api.ejs') %>

    <footer><%- include('../partials/footer.ejs') %></footer>
  </body>
</html>
