<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>Welkom bij de movies quiz</title>
  </head>

  <body>
    <h1><%= title %></h1>

    <div id="startSection">
      <input type="text" id="nameInput" placeholder="Enter your name" />
      <button id="startButton">Start Quiz</button>
    </div>

    <div id="quizSection" style="display: none">
      <p id="questionText"></p>
      <ul id="movieOptions"></ul>
    </div>

    <div id="scoreSection" style="display: none"></div>

    <footer><%- include('../partials/footer.ejs') %></footer>
  </body>
</html>
