<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>Welkom bij de movies quiz</title>
  </head>

  <body>
    <header><%- include('../partials/nav.ejs') %></header>

    <main>
      <div id="startSection">
        <input type="text" id="nameInput" placeholder="Enter your name" />
        <button id="startButton">Start Quiz</button>
      </div>

      <div id="quizSection" style="display: none">
        <p id="questionText"></p>
        <ul id="movieOptions"></ul>
      </div>

      <div id="scoreSection" style="display: none"></div>
    </main>

    <footer><%- include('../partials/footer.ejs') %></footer>
  </body>
</html>
